###
### NAMESPACE
###

# converting base functions or S3 methods into S4 methods
exportMethods("summary") # comes from 'base'
import(methods)
importFrom(graphics, "plot", "hist")
exportMethods("plot", "hist")

# used for Dirichlet - Multinomial distributions
import(mc2d)
# used for combinations of psi-values
import(combinat)

### needed for simulations
exportClasses("Clone", "Tumor")
export("Clone", "Tumor")
export("generateData")

### needed for analysis
exportClasses("CompartmentModel")
export("CompartmentModel")
export("likely", "sampleSimplex")

### prefit (phi vectors per segment)
exportClasses("PrefitCloneModel")
export("PrefitCloneModel", "updatePhiVectors", "sizeplot")

# psi
export(guessPsi, runEMalg, trueZ)
