###
### NAMESPACE
###

# converting base functions or S3 methods into S4 methods
exportMethods("summary") # comes from 'base'
import(methods)
importFrom(graphics, "plot", "hist")
exportMethods("plot", "hist")

import(mc2d)     # used for Dirichlet - Multinomial distributions
importFrom(combinat, "combn") # used for combinations of psi-values

### needed for simulations
exportClasses("Clone", "Tumor")
export("Clone", "Tumor")
export("generateData", "trueZ", "sizeplot")

### needed for analysis
exportClasses("CompartmentModel")
export("CompartmentModel")
export("likely", "sampleSimplex")

### prefit (phi vectors per segment)
exportClasses("PrefitCloneModel")
export("PrefitCloneModel", "updatePhiVectors")

### not needed externally?
#export("myTarget", "precomputeZed", "computeSSE", "setZs")

### fitting psi vectors
export("guessPsi", "runEMalg")
