###
### NAMESPACE
###

# converting base fuctions or S3 methods into S4 methods
exportMethods("summary") # comes from 'base'
import(methods)
importFrom(graphics, "plot", "hist")
exportMethods("plot", "hist")

# used for Dirichlet - Multinomial distributions
import(mc2d)


### cloneMaker
exportClasses("Clone", "AbstractTumor", "Tumor")

export("Clone", "AbstractTumor", "Tumor")

export("generateData", "likely", "sampleSimplex")

### prefit
exportClasses("PrefitCloneModel")
export("PrefitCloneModel", "updatePhiVectors")
